---
extends: flexigrid.j2
title: Research Posters
description: Chicas Research Posters
---

{% block extrahead %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />
<style>
.swiper {
  width: 600px;
  height: 300px;
}
</style>
{% endblock %}


{% block main %}

<div class="swiper">
<div class="swiper-wrapper">
  {% for poster in  resource.meta.posters|sort(attribute='title') %}
{% set stem = poster.file | replace('.pdf','') | replace('.pptx','') | replace('.ppt','') %}
  <div class="swiper-slide">
      <a href="/research_posters/{{poster.file}}"><img width="300px" class="bordered" src="/research_posters/{{stem}}.webp" alt="{{poster.title}}"/></a>
      <p><a href="/research_posters/{{poster.file}}">{{poster.title}}</a> : {{poster.authors}}</p>
  </div>
{% endfor %}
</div>
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

{% endblock %}
    
{% block sidebar %}
<h1>Research Posters</h1>


<p>
This collection of research posters showcases our work as displayed
at conferences and meetings.
</p>
<p>
Each image links to PDF or PowerPoint versions for reading.
</p>

{% endblock %}


{% block footscripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'vertical',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});

</script>
{% endblock %}
