---
extends: flexigrid.j2
title: Research Posters
description: Chicas Research Posters
---

{% block main %}
<h1>Research Posters</h1>

{% for posters in resource.meta.posters|sort(attribute='title')|batch(2,False) %}
<div class="ym-grid linearize-level-2">
 {% for poster in posters %}
   <div class="ym-g50 ym-gl">
     <div class="poster ym-clearfix">
      <div class="ym-grid">
	{% if poster %}

	<div class="ym-g25 ym-gl">
        <a href="/research_posters/{{poster.file}}{{poster.extension}}"><img class="bordered" src="/research_posters/{{poster.file}}.webp" alt="{{poster.title}}"/></a>
      </div>
      <div class="ym-g75 ym-gl">
        <p><a href="/research_posters/{{poster.file}}{{poster.extension}}">{{poster.title}}</a> : {{poster.authors}}</p>
      </div>
      {% endif %}
      </div>
     </div>
   </div>
{% endfor %}
</div>
{% endfor %}

{% endblock %}
    
{% block sidebar %}
<p>
This collection of research posters showcases our work as displayed
at conferences and meetings.
</p>
<p>
Each image links to PDF or PowerPoint versions for reading.
</p>
{% endblock %}
