---
extends: flexigridmap.j2
title: Home page
description: Home page for CHICAS
---
{% block belowcontent %}
<section class="box info" id="threebox">
  <div class="ym-grid linearize-level-1">
    <div class="ym-g66 ym-gl">
      <div class="ym-grid linearize-level-2">

	<article class="ym-g50 ym-gl">
	  <div class="ym-gbox-left">
           <h4><a class="plainhead" href="/study">MSc and PhD Studies</a></h4>
<!-- PhD opps go here -->
           <p>CHICAS supervises PhD students and runs the MSc in Health Data Science. See
our <a href="/study">Study with CHICAS</a> pages for more details.
	   </p>
	  </div>
	</article>
	
	<article class="ym-g50 ym-gr">
	  <div class="ym-gbox">
	    <h4><a href="/work" class="plainhead">Work with CHICAS</a></h4>
<p>We are open to collaborations with individuals and organisations. See our <a href="/partners.html">Partners</a>
page for a list of past and current organisations we have worked with. Feel free to contact any of our
staff with relevant interests to start a discussion.</p>
<!-- job opps go here -->

<!--p>We currently have an opening for an X in Y. See our <a href="/work">job opportunities</a> for more 
information</p-->

	  </div>
	</article>

      </div>
      
    </div>

    <article class="ym-g33 ym-gr">
      <div class="ym-gbox-right secondary">
	<a href="whocc"><img width="100%" src="/media/images/logo/whocc.png" /></a>
      </div>
    </article>
  </div>
</section>
{% endblock %}

{% block main %}
<ul class="bxslider">
<li>
<img src="/media/images/slider/group_photo.jpg" title="We are a research group of <a href='/people' class='carousel'>statisticians and epidemiologists</a> in the Lancaster Medical School" />
</li>
</ul>
{% endblock %}
