{% extends "flexipage.j2" %}

{% block sections %}

<section class="ym-grid linearize-level-1">
  <article class="ym-g100 ym-gl content">
    <div class="ym-gbox-left ym-clearfix">
      {% block main %}
      {% endblock %}
    </div>
  </article>
</section>
{% endblock %}

