{% macro render_excerpt(res, class=None) %}
{% refer to res.relative_path as post %}
<article {{'class='~class if class }}>
<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
{{ post.excerpt|markdown|typogrify }}
<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time>
</article>
{% endmacro %}

{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<nav {{'class='~cls if cls }}>
    <ul>
        {% for item in menu -%}
        {% set active = False -%}
        {% if item.type == 'page' -%}

{% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) -%}
        {% else -%}
            {% set active = (node ==
                site.content.node_from_relative_path(item.url)) -%}
        {%- endif %}
	{% if resource.meta.menu == item.url %}
	{% set active = 1==1 %}
	{% endif %}
        {% set classes = ['button', 'white'] -%}
        {% set liclass = [] -%}
        {% do classes.append('active') if active -%}
        {% do liclass.append('active') if active -%}
        {% do classes.append(item.css_class) if item.css_class -%}
        <li class="{{ liclass|join(' ') }}">
            <a title="{{ item.description }}"
                class="{{ classes|join(' ') }}"
                href="{{ content_url(item.url) }}">
                {{ item.name }}
            </a>
        </li>
        {%- endfor %}
    </ul>
</nav>
{%- endif %}
{%- endmacro %}


{% macro projectbox(res) %}
<div class="projectbox {{tags|join(' ')}}">
<a href="{{res.full_url}}">
<div class="project {{tags|join(' ')}}">

<div class="title">{{res.meta.title}}</div>
{% if res.meta.image %}
<img  class="" src="{{media_url('/images/content/icon_'+res.meta.image.name)}}">
{% endif %}
<div class="description">
<p>{{res.meta.description}}</p>
</div>
<div style="clear: both;"></div>
</div>
</a>
</div>
{% endmacro %}

{% macro personbox(resource) %}
<div class="personbox">
<a href="{{resource.full_url}}">
{% set imgd = resource.node.root.node_from_relative_path("media/images/people/") %}
{% set r = imgd.contains_resource(resource.slug+".jpg") %}
<div class="profilepic">
{% if r %}
<img src="{{media_url('/images/people/profile_'~resource.slug~'.jpg')}}">
{% else %}
<img src="{{media_url('/images/people/profile_nobody.jpg')}}">
{% endif %}
</div>
<div class="profilename">
{{resource.meta.title}}
</div>
</a>
</div>
{% endmacro %}

{% macro getpeople(ns, peoplelist) %}
{% set peoplenode = site.content.node_from_relative_path("people/") %}
{% set found = [] %}
{% for person in peoplelist %}
{% set p = peoplenode.get_resource(person+".html") %}
{% do found.append(p) if p %}
{% endfor %}
{% set ns.people = found %}
{% endmacro %}

{% macro getprojects(ns, projectlist) %}
{% set found = [] %}
{% set projectnode = site.content.node_from_relative_path("projects/") %}

{% for project in projectlist %}
{% set p = projectnode.get_resource(project + ".html") %}
{% do found.append(p) if p %}
{% endfor %}
{% set ns.projects = found %}
{% endmacro %}