---
extends: whocc.j2
title: WHOCC
description: WHOCC
---

{% block main %}

<h2>The World Health Organization Collaborating Centre on Geostatistical
  Methods for Neglected Tropical Disease Research
</h2>

<p>
Since June 2021, CHICAS has been designated as the World Health
Organization Collaborating Centre on Geostatistical Methods for
Neglected Tropical Disease (NTD) Research.
</p>

<p>
As part of this initiative, CHICAS has led in the development and
application of geospatial methods for the design and analysis of NTD
surveys, in particular for soil-transmitted-helminths, trachoma and
lymphatic filariasis.
</p>

<p>
Some of our current projects include: design of a surveillance system
for lymphatic filariasis in a post-elimination setting; geostatistical
design of elimination surveys; the development of user-friendly web
applications for NTD survey design and geospatial analysis.
</p>

<p>
These projects have recently involved close collaborations with
Ministries of Health from Brazil, Niger, Malawi, Guyana, Papua New
Guinea and Ethiopia.
</p>
 

{% endblock %}

{% block sidebar %}
<h3>Current NTD Projects</h3>

{% set projectnode = resource.node.parent.node_from_relative_path("projects") %}
<ul>
	{% for project in projectnode.walk_resources_sorted_by_titling()  %}
	{% set p = projectnode.get_resource(project)  %}
	{% if "ntd" in p.meta.tags %}
	<li>
	  <a href="{{p.full_url}}">{{p.meta.title}}</a> : {{p.meta.description}}
	</li>
	{% endif %}
	{% endfor %}
      </ul>

{% endblock %}
